@import "../../../../static/styles/constants";

.sidebar {
  position: fixed;
  width: $sidebar-size;
  height: 100%;
  background: #fff;
  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
  padding-top: $header-size;
  top: 0;
  z-index: 99;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background: $primary-color;
  background-image: linear-gradient(to bottom, $primary-color, darken($primary-color, 15));
}

.show {
  left: 0;
}

.hide {
  left: -$sidebar-size;
}
