@import "../../static/styles/constants";

.control-checkbox {
  margin-bottom: 10px;
}

.input[type="checkbox"] {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 1rem 0 0;
  position: relative;

  &:before {
    border: 2px solid #777;
    content: "";
    height: 1.2rem;
    left: 0;
    position: absolute;
    transition: all 0.25s ease-in-out;
    width: 1.2rem;
    z-index: 1;
  }

  &:checked:before {
    border-color: $primary-color;
    border-right-style: none;
    border-top-style: none;
    height: 0.5rem;
    transform: rotate(-45deg);
  }

  &:after {
    background: #fff;
    content: "";
    cursor: pointer;
    height: 1.4rem;
    left: 0;
    position: absolute;
    top: -0.125rem;
    width: 1.2rem;
  }

  &[disabled] {
    cursor: not-allowed;
    &:after {
      cursor: not-allowed;
    }
  }
}

.label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

.configurate {
  background: transparent;
  border: none;
  line-height: 24px;
  display: flex;
}
