@import "../../assets/styles/colors";

.labeledPicker {
  background-color: $secondary-color;
  border-radius: 3px;
  height: 35;
  width: 120;
  justify-content: center;
}

.text {
  color: $text-color-button;
}

.title {
  flex-direction: row;
  align-items: center;
}
