@import "../../assets/styles/colorPalette";

.labeledPicker {
  background-color: $palette0400;
  border-radius: 3px;
  height: 35;
  width: 120;
  justify-content: center;
}

.text {
  color: $primaryTextColor;
}

.title {
  flex-direction: row;
  align-items: center;
}

.validationField {
  color: $validateColor;
  font-weight: bold;
}
