@import "../../assets/styles/colors";

.labeledPicker {
  background-color: $secondary-color;
  border-radius: 10px;
  height: 2.3125rem;;
  width: 120;
  justify-content: center;
  margin-top: -20px;
}

.text {
  color: $text-color-button;
}

.title {
  flex-direction: row;
  align-items: center;
}
