@import "../../assets/styles/colorPalette";

.labeledPicker {
  border-radius: 10px;
  border-color: $primaryColor;
  border-width: 2px;
  height: 2.3125rem;
  width: 120;
  justify-content: center;
  margin-top: -20px;
  margin-left: 20px;
}

.text {
  color: $textColor;
}

.title {
  flex-direction: row;
  align-items: center;
}

.validationField {
  color: $validateColor;
  padding-left: 2.25rem;
  margin: 0rem;
}

.container {
  position: relative;
}
