@import "../../../../../assets/styles/colorPalette";

.attachment {
  background-color: $primaryColor;
  border-top-width: 1px;
  border-top-color: $lightBorderColor;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
}

.title {
  color: $primaryTextColor;
  justify-content: flex-end;
}

.downloadButton {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border-width: 2px;
  border-color: $lightBorderColor;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
}

.icon {
  margin: 0;
}
