@import "../constants";

.input-login input {
  padding-left: 20px;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 2px solid #777;

  &:hover,
  &:focus {
    border-color: $primary-color;
  }
}

.title-text {
  font-size: 1.6em;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--login-box-c);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px;
}

#login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  background-image: linear-gradient(
    to left top,
    $primary-color,
    darken($primary-color, 3),
    darken($primary-color, 6),
    darken($primary-color, 9),
    darken($primary-color, 12)
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-container {
  width: 400px;
  box-shadow: 0 2px 12px 0 var(--login-box-bsh);
  padding: 1.5em 2em;
  border-radius: 5px;
  background: var(--login-box-bg);
  transition: 0.2s ease;
  &:hover {
    box-shadow: 0 6px 15px var(--login-box-bsh);
  }
}
