.prepared .delegation-status {
  background-color: #00bfff;
}

.created .delegation-status {
  background-color: #673ab7;
}

.needs_work .delegation-status {
  background-color: #ffb700;
}

.checked .delegation-status {
  background-color: #a05722;
}

.approved .delegation-status {
  background-color: #4caf50;
}

.finalized .delegation-status {
  background-color: #c1c1c1;
}

.delegation-status {
  border-radius: 10px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  text-align: center;
  color: #fff;
}

.table td,
.table th {
  vertical-align: middle;
}

@media screen and (max-width: 992px) {
  .react-bootstrap-table table {
    display: block;
    overflow: auto;
  }
}
