@import "../../assets/styles/colorPalette";

.halfField {
  max-width: 8.625rem;
}

.container {
  flex: 1;
  flex-direction: row;
}

.labeledPicker {
  border-radius: 10px;
  border-color: $primaryColor;
  border-width: 2px;
  background-color: transparent;
  height: 2.3125rem;
  width: 120;
  justify-content: center;
  margin-top: -20px;
  margin-left: 20px;
}

.pickerText {
  color: $textColor;
}

.pickerTitle {
  flex-direction: row;
  align-items: center;
}

.pickerValidationField {
  color: $validateColor;
  padding-left: 2.25rem;
  margin: 0rem;
}

.pickerContainer {
  position: relative;
}
