@import "../../assets/styles/colorPalette";

.container {
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 5px;
  margin: 3rem 1rem 1.6rem 1rem;
  padding: 1rem 0.7rem 0.5rem 0.7rem;
  shadow-color: #000;
  shadow-opacity: 0.4;
  shadow-radius: 2.4;
  elevation: 4;
}

.flightFromIcon {
  transform: rotate(180deg);
  border-radius: 0px 5px 5px 0px;
}

.button {
  width: 10rem;
  height: 3rem;
  align-self: center;
  margin: 2.5rem 0rem 1rem 0rem;
}
