@import "../../../../../assets/styles/colorPalette";

.attachment {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 8px;
  border-color: transparent;
  justify-content: center;
  align-items: center;
}

.enabled {
  @extend .attachment;
  background-color: $primaryColor;
}

.disabled {
  @extend .attachment;
  background-color: $gpalette0100;
}

.collapsed {
  transform: rotate(90deg);
}
