@import "../../../assets/styles/colorPalette";

.dataRow {
  margin-bottom: 0.35rem;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 38px;
  height: 38px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primaryColor;
  color: $primaryTextColor;
  margin-right: 10px;
  margin-bottom: 0.4rem;
}

.header {
  font-weight: bold;
  font-size: 1.1rem;
  color: $primaryColor;
}

.submit {
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
}
