@import "../constants";

.checklist-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

@media #{$desktop} {
  .checklist-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media #{$fulldesktop} {
  .checklist-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.checklist-footer {
  position: sticky;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  background: #f8f8f8;
  padding: 10px;

  & > button:not(:last-of-type) {
    margin-right: 15px;
  }
}

@media #{$xsmall} {
  .checklist-footer {
    position: initial;
    justify-content: center;
    flex-wrap: wrap;
  }
}
