#checklist-list {
  list-style-type: none;
  padding-left: 10px;
}

.delete-wrapper {
  margin-left: 10px;
}

.checklist-list {
  columns: 1;
  padding-bottom: 20px;

  & > * {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
}

@media screen and (min-width: 992px) {
  .checklist-list {
    columns: 2;
  }
}
@media screen and (min-width: 1440px) {
  .checklist-list {
    columns: 3;
  }
}
