@import "../../../../../../assets/styles/constants";

.logout-item {
  cursor: pointer;
}

.usernav-toogle {
  font-weight: 400;
  background: transparent;
  padding: 0;
  border: none;
  white-space: nowrap;
  font-size: 0.9375rem;
  color: var(--header-c);

  &:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.2em;
    content: "";
    border-top: 0.3em solid var(--header-toggle-brdc);
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

$size: 30px;
.profile-img {
  width: $size;
  height: $size;
  border-radius: 100%;
  object-fit: cover;
  margin-right: $size/3;
}

.navaccount {
  display: flex;
  justify-content: flex-end;
}

@media #{$mobile} {
  .usernav-toogle > span {
    display: none;
  }
}

@media #{$small} {
  .navaccount {
    display: none;
  }
}
