@import "../../../assets/styles/constants";

.main-content {
  position: relative;
  padding: ($header-size + 20px) 20px 40px;
  background-color: var(--main-bg);
  min-height: calc(100vh - #{$footer-size});
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: $theme-change-transition;

  & > section {
    flex: 1 0 auto;
    position: relative;
  }

  &.full-content {
    padding: $header-size 0 0;
  }
}

.page-header {
  border-bottom: 1px solid var(--main-page-header-brdc);
  color: var(--main-page-header-c);
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $theme-change-transition;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 60%;

  & > button,
  & > i,
  & > a {
    margin-right: 5px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media #{$xsmall} {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    max-width: initial;
    justify-content: center;
    width: 100%;

    & > button,
    & > i,
    & > a {
      &:last-of-type {
        margin-right: 5px;
      }
    }
  }

  .main-content {
    padding: ($header-size + 20px) 10px 40px;
  }
}
