@import "../../assets/styles/colorPalette";

.dateIcon {
  position: absolute;
  left: 0.625rem;
  top: 0.25rem;
  margin-left: -6rem;
}

.dateInput {
  border-color: $primaryColor;
  border-radius: 10px;
  border-width: 2px;
  height: 2.3125rem;
  margin-left: 1.25rem;
  width: 18.75rem;
  min-width: 15.625rem;
  max-width: 18.75rem;
}

.validation-field {
  color: $validateColor;
  padding-left: 1.25rem;
  margin: 0 1.25rem;
}

:export {
  activeColor: $textColor;
  inactiveColor: $gpalette0100;
}
