@import "../../assets/styles/constants";

.date-icon {
  position: absolute;
  left: 0;
  top: 0.25rem;
  margin-left: 0;
}

.date-input {
  margin-left: 2.25rem;
  border-color: $primary-color;
  border-radius: 10px;
  border-width: 2px;
  height: 2.3125rem;
  min-width: 15.625rem;
  max-width: 18.75rem;
  padding-left: 0.625rem;
}

.date-picker {
  width: 18.75rem;
  margin: 0 1.25rem;
}

.validation-field {
  color: $validate-text-color;
  padding-left: 1.25rem;
  margin: 0 1.25rem;
}

.active {
  color: $text-color;
}

.inactive {
  color: $inactiveTextColor;
}
