@import "../../assets/styles/colors";
@import "../../assets/styles/colorPalette";


.datePickerButton {
  height: 35;
  width: 120;
  background-color: $secondary-color;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  border-width: 0rem;
}

.title {
  flex-direction: row;
  align-items: center;
}

.dateInput {
  flex: 1;
  height: 40;
  border-width: 0;
  align-items: center;
  justify-content: center;
}

.dateText {
  color: $primaryTextColor;
}

.placeholderText {
  color: $primaryTextColor;
}

.datePicker {
  margin-top: 42;
  border-top-width: 0;
}
