@import "../../../assets/styles/constants";

.title {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0rem 1.5rem 0rem 1.5rem;
  box-shadow: -1px 6px 5px;
  border-bottom-color: $inactiveTextColor;
  border-bottom-width: 1;
}

.sideMargins {
  margin-right: 20;
  margin-left: 20;
}

.list {
  margin-top: 0.5rem;
}

.spinner {
  margin-top: 20px;
}
