@import "../../assets/styles/constants";

.title {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  box-shadow: -1px 6px 5px;
  border-bottom-color: $inactiveTextColor;
  border-bottom-width: 1;
}

.sideMargins {
  margin-right: 20;
  margin-left: 20;
}

.list {
  margin-top: 5;
  padding-right: 20;
  padding-left: 20;
}
