@import "../../../src/static/styles/constants";

.field {
  width: 100%;
}

.label {
  &.label-fluid {
    width: 100%;
  }
}

.label-bold {
  font-weight: bold;
  color: $primary-color;
}

form {
  margin: 10px;
}
