// shades of purple
$palette050: #e8e0f3;
$palette0100: #c7b3e0;
$palette0200: #a180cc;
$palette0300: #7b4db8;
$palette0400: #5f26a8;
$palette0500: #430099;
$palette0600: #3d0091;
$palette0700: #340086;
$palette0800: #2c007c;
$palette0900: #1e006b;
$palette0A100: #ad9aff;
$palette0A200: #8367ff;
$palette0A400: #5a34ff;
$palette0A700: #451aff;

// shades of grey
$gpalette000: #fff;
$gpalette050: #e6e6e6;
$gpalette0100: #c0c0c0;
$gpalette0200: #969696;
$gpalette0300: #6c6c6c;
$gpalette0400: #4d4d4d;
$gpalette0500: #2d2d2d;
$gpalette0600: #282828;
$gpalette0700: #222222;
$gpalette0800: #1c1c1c;
$gpalette0900: #111111;
$gpalette1000: #000;

// shades ready to use
// feel free to add/edit
$primaryColor: $palette0900;
$primaryLightColor: $palette0300;
$secondaryColor: $palette0700;
$secondaryLightColor: $palette0A200;
$primaryTextColor: $gpalette000;
$secondaryTextColor: $gpalette000;

$textColor: $gpalette1000;
$validateColor: #cf0000;

$lightBackgroundColor: $gpalette000;
$darkBackgroundColor: $gpalette0500;

$lightBorderColor: $gpalette0200;

$disabled: $gpalette0300;

:export {
  primary: $primaryColor;
  secondary: $secondaryColor;
  primaryTextColor: $primaryTextColor;
  textColor: $textColor;
  lightGrey: $gpalette050;
  lightPurple: $palette0100;
  disabled: $gpalette0300;
}
