$primary-color: #430099;
$secondary-color: #f3e035;

$text-color: #000;
$text-color-button: #fff;
$validate-text-color: #f00;
$inactiveTextColor: #bdbdbd;
$frame-border-color: #000;
$inactive-image-field-color: #e7e7e7;

$delegation-status-created: #3fa7d6;
$delegation-status-needs-work: #ee6352;
$delegation-status-prepared: #fac05e;
$delegation-status-checked: #f7e94c;
$delegation-status-approved: #2ecc78;
$delegation-status-finalized: #ababab;
