@import "constants";

.container {
  justify-content: center;
  align-self: center;
  align-content: center;
}

.title {
  margin: 0.625rem /* 10/16 */ 0;
  font-weight: bold;
  font-size: 1.25rem; /* 20/16 */
}

.subtitle {
  margin: 0.625rem /* 10/16 */ 1.25rem /* 20/16 */ 0.3125rem /* 5/16 */;
  color: $text-color;
}

.button {
  background-color: $primary-color;
  color: $text-color-button;
  min-width: 15.625rem /* 250/16 */;
  max-width: 18.75rem /* 300/16 */;
  height: 2.3125rem /* 37/16 */;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  margin: 1.25rem /* 20/16 */ 1.25rem /* 20/16 */ 0.9375rem /* 15/16 */;
  font-size: 1.25rem /* 20/16 */;
  padding: 0.3125rem; /* 5/16 */
}
