@import "../../../assets/styles/colorPalette";

.inputSection {
  flex-direction: row;
}

.iconPanel {
  border-radius: 5px 0px 0px 5px;
  border-width: 1px;
  border-color: $primaryColor;
  background-color: $primaryColor;
  height: 2.6rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
}

.input {
  border-radius: 0px 5px 5px 0px;
  border-width: 1px;
  border-color: $primaryColor;
  height: 2.6rem;
  width: 17rem;
  background-color: $primaryTextColor;
}

.subtitle {
  padding-left: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: $primaryColor;
}

.textInput {
  @extend .input;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0rem;
  color: $primaryColor;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
}

.validationField {
  color: $validateColor;
  font-weight: bold;
}

.datePickerButton {
  @extend .input;
  align-items: center;
  justify-content: center;
}

.dateText {
  color: $primaryColor;
  font-size: 1.1rem;
}

.placeholderText {
  color: $palette0100;
  font-size: 1.1rem;
}
