@import "../../assets/styles/constants";

.addDelegationButton {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50px;
  line-height: 60px;
  color: $text-color-button;
  background-color: $primary-color;
  font-size: 3.125rem;
  font-weight: normal;
  text-align: center;
  position: relative;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 1.25rem 0 0;
}
