@import "../../assets/styles/constants";

.checklistItem {
  border-bottom-color: $inactiveTextColor;
  border-bottom-width: 0.5;
  padding-bottom: 5;
  margin-bottom: 5;
}

.checkbox {
  padding: 1rem;
}

:export {
  checkBoxColor: $inactiveTextColor;
}

:export {
  checkedCheckBoxColor: $primary-color;
}
