@import "../../assets/styles/constants";

.checklistItem {
  border-radius: 0.1rem;
  shadow-color: #000;
  shadow-opacity: 0.4;
  shadow-radius: 2.4;
  elevation: 4;
  margin: 0rem 1rem 0.8rem 1rem;
  flex-direction: row;
  background-color: #fff;
}

.sideOrnament {
  flex: 0.3;
  height: 100%;
  background-color: $primary-color;
  border-radius: 0.1rem 0rem 0rem 0.1rem;
}

.checkbox {
  flex: 1.5;
  background-color: #e8e8e8;
  align-items: center;
  justify-content: center;
  border-radius: 0rem 0.1rem 0.1rem 0rem;
}

.taskData {
  flex: 7;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
}

.task {
  font-size: 1.2rem;
}

.description {
  color: #333;
}

:export {
  checkBoxColor: $primary-color;
}
