@import "../../assets/styles/colorPalette";

.input {
  border-color: $primaryColor;
  border-radius: 10px;
  border-width: 2px;
  min-width: 8.625rem;
  height: 2.3125rem;
  width: 18.75rem;
  padding-left: 0.625rem;
  margin: 0 1.25rem;
}

.validationField {
  color: $validateColor;
  font-weight: bold;
  padding-left: 1.25rem;
  margin: 0 1.25rem;
}

.textarea {
  @extend .input;
  height: 150px;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  position: relative;
}
