@import "../../assets/styles/_constants";

.db-card {
  box-shadow: 0 1px 2px 2px var(--card-bsh);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  background-color: var(--card-bg);
  background-clip: border-box;
  border: 1px solid var(--card-brdc);
  border-radius: 0.25rem;
  position: relative;
  min-width: 0;
  color: var(--card-c);
}

.db-card-header {
  background-color: var(--card-header-bg);
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  font-size: 1em;
  color: var(--card-header-c);
  border-bottom: 1px solid var(--card-header-brdc);
  font-weight: bold;
}

.db-card-content {
  flex: 1 1 auto;
  padding: 1.25rem;
  outline: none;
}

@media #{$mobile} {
  .db-card-content {
    padding: 0.75rem;
  }
}
