$primary-color: #430099;
$secondary-color: #f3e035;
$error-color: #dc3545;

$delegation-status-created: #3fa7d6;
$delegation-status-needs-work: #ee6352;
$delegation-status-prepared: #fac05e;
$delegation-status-checked: #f7e94c;
$delegation-status-approved: #2ecc78;
$delegation-status-finalized: #ababab;

$header-size: 60px;
$footer-size: 60px;
$sidebar-size: 265px;
$sidebar-line-width: 27px;
$sidebar-line-space: 12px;
$main-content-padding: 20px;

$xs-end: 575px;
$sm-start: 576px;
$sm-end: 767px;
$md-start: 768px;
$md-end: 991px;
$lg-start: 992px;
$lg-end: 1199px;
$xl-start: 1200px;
$xxl-start: 1500px;
$xsmall: "(max-width: " + $xs-end + ")";
$small: "(max-width: " + $sm-end + ")";
$mobile: "(max-width: " + $md-end + ")";
$mobiletablet: "(max-width: " + $lg-end + ")";
$tablet: "(min-width: " + $md-start + ") and (max-width: " + $lg-end + ")";
$desktop: "(min-width: " + $xl-start + ")";
$fulldesktop: "(min-width: " + $xxl-start + ")";

:export {
  primary: $primary-color;
}
