$primary-color: #430099;
$secondary-color: #fd7e14;
$disabled-color: #949494;

$header-size: 60px;
$footer-size: 60px;
$main-content-padding: 20px;
$theme-change-transition: 0.5s ease-out;
$mobile-table: 430px;

$xs-end: 575px;
$sm-start: 576px;
$sm-end: 767px;
$md-start: 768px;
$md-end: 991px;
$lg-start: 992px;
$lg-end: 1199px;
$xl-start: 1200px;
$xxl-start: 1500px;
$xsmall: "(max-width: " + $xs-end + ")";
$small: "(max-width: " + $sm-end + ")";
$mobile: "(max-width: " + $md-end + ")";
$mobiletablet: "(max-width: " + $lg-end + ")";
$tablet: "(min-width: " + $md-start + ") and (max-width: " + $lg-end + ")";
$desktop: "(min-width: " + $xl-start + ")";
$fulldesktop: "(min-width: " + $xxl-start + ")";
