.delegation-status {
  border-radius: 10px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  text-align: center;
  color: #fff;

  .prepared & {
    background-color: var(--dlg-s-prepared);
  }
  .created & {
    background-color: var(--dlg-s-created);
  }

  .needs_work & {
    background-color: var(--dlg-s-needs-work);
  }

  .checked & {
    background-color: var(--dlg-s-checked);
  }

  .approved & {
    background-color: var(--dlg-s-approved);
  }

  .finalized & {
    background-color: var(--dlg-s-finalized);
  }
}

.table td,
.table th {
  vertical-align: middle;
}

.react-bootstrap-table th[data-row-selection] {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40px;
}

@media screen and (max-width: 992px) {
  .react-bootstrap-table table {
    display: block;
    overflow: auto;
  }
}
