@import "constants";
@import "pages/index";
@import "table";
@import "notifications";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
body > #root {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: #fff;
  position: relative;
  font-size: 100%;
}

.fade-appear > main,
.fade-enter > main {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active > main,
.fade-enter.fade-enter-active > main {
  opacity: 1;
  transition: 200ms linear 100ms;
}

.fade-exit {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
}
.fade-exit > main {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit.fade-exit-active > main {
  opacity: 0;
  transform: translateY(10px);
  transition: 100ms linear;
}

.fade-exit > footer,
.fade-exit > header {
  display: none;
}

.fade-exit.fade-exit-active > footer,
.fade-exit.fade-exit-active > header {
  display: none;
}
