@import "../../assets/styles/colorPalette";

.tab-bar {
  background: $primaryColor;
}

.indicator {
  background: $primaryTextColor;
}

.options {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-right: 8;
}

.underline {
  background: $primaryTextColor;
}

.tab-label {
  color: $primaryTextColor;
}

.iconStyle {
  color: $primaryColor;
  font-size: 40;
}

.filterButton {
  align-items: center;
  padding: 5px;
}

.navigationOptions {
  flex-direction: row;
}

:export {
  primary: $primaryColor;
}
